<aside>
    <div class="widget">
        <h3>Iniciar Seccion</h3>
        <form action="get">
            <input type="email" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Entrar">
        </form>

    </div>

    <div class="widget">
        <h3>Ultimas Entradas</h3>
        <ul>
            <li><a href="#">El Desarrolo Web no es mas que copiar y pegar</a></li>
            <li><a href="#">Como hacer un Slider con HTML y CSS</a></li>
            <li><a href="#">Por que HTML No es un lenguaje de programacion?</a></li>
            <li><a href="#">Como poner las Letras en Mayuscula con Css</a></li>
            <li><a href="#">Que es un Lenguaje de Marcado?</a></li>
        </ul>

    </div>

    <div class="widget">
        <h3>Frase del Dia</h3>
        <blockquote>La mejor manera de escribir codigo es escribir y estudiar</blockquote>
       
    </div>

</aside>