<nav id="main-menu">
    <ul>
        <li><a href="index.html">Inicio</a></li>
    </ul>
    <ul>
        <li><a href="#">Noticias</a>
            <ul>
                <li><a href="#">Desarrolo Web</a></li>
                <li><a href="#">Programacion</a></li>
                <li><a href="#">Desarrollo Movil</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><a href="#">Blog</a></li>
    </ul>
    <ul>
        <li><a href="http://academy.kikopalomares.com" target="_blank">Academia</a></li>
    </ul>
    <ul>
        <li><a href="#">Contacto</a></li>
    </ul>
</nav>